@model DevSpot.Models.JobPosting
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Create</h1>

<form method="post" action="Create">

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Company" class="form-label"></label>
        <input type="text" asp-for="Company" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input type="text" asp-for="Location" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Create</button>

</form>